// fonts
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
$font-primary: 'Karla', sans-serif;
$font-secondary: 'Playfair Display', serif;

// color
$primary-color: #444444;
$blue: #21A0DE;
$blue-lighten: lighten( $blue, 15 );
$blue-darken: darken( $blue, 15 );
$black: #1B2831;
$base-color: #ffffff;

@mixin fontsetting( $font, $size, $weight, $stretch, $spacing )
{
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  font-stretch: $stretch;
  letter-spacing: $spacing;
}

@mixin transition()
{
  transition: 0.10s ease-in-out;
  -moz-transition: 0.10s ease-in-out;
  -webkit-transition: 0.10s ease-in-out;
}
